# Ignore everything at root not starting with "."
/[^.]*

# Except AGENTS.md
!/AGENTS.md
!/README.md
!/TODO.md
!/design/

# Ignore these dotfiles/dotdirs
.DS_Store
!.devcontainer/.claude/
.devcontainer/.claude/*
!.devcontainer/.claude/skills/
!.devcontainer/.claude/settings.json
.devcontainer/.library/
.devcontainer/.env
.devcontainer/.ssh/
.devcontainer/*.local
.devcontainer/.Rhistory
.lintr
