# Ignore everything at root not starting with "."
/[^.]*

# Except AGENTS.md
!/AGENTS.md
!/README.md
!/design/

# Ignore these dotfiles/dotdirs
.claude/
.library/
.DS_Store
.Rprofile.local
.devcontainer/.env
.devcontainer/.ssh/
.devcontainer/.gitconfig.local
